<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Paises</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Listado de Paises</h2>
        <br>
        <hr>
        <a th:href="@{/estado/nuevo}">Nuevo registro</a>

        <div th:if"${estado !=null and !estado.empty}">
            <table border="0">
                <thead>
                    <tr>
                        <th>Poblacion</th>
                        <th>Estado</th>
                        <th>Capital</th>
                        <th>Costas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Estado : ${estado}">
                        <td>[[${Estado.poblacion}]]</td>
                        <td>[[${Estado.nombrestado}]]</td>
                        <td>[[${Estado.capital}]]</td>
                        <td>[[${Estado.costas}]]</td>
                        <td>
                            <a th:href="@{/estado/eliminar/} + ${Estado.id}">Eliminar</a>
                            <a th:href="@{/estado/modificar/} + ${Estado.id}">Modificar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${estado==null or estado.empty}">
            <h3>No hay informacion que mostrar</h3>
        </div>
    </body>
</html>
